body {
  background-color: black;
  background-image: none;
  overflow: hidden;
}

* {
  cursor: url("images/buttons/cursor_arrow.svg") 0 0, auto;
}

:root {
  --menu-safezone-sides: 2.5vw;
  --ease-out-bg: cubic-bezier(0, 0.55, 0.45, 1);
}

@keyframes fadeInChar {
  0% {
    transform: translateX(0.75vw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInWindow {
  0% {
    opacity: 0;
    visibility: visible;
  }

  100% {
    opacity: 1;
    background-position-x: center;
  }
}

@keyframes fadeOutWindow {
  0% {
    background-position-x: center;
    opacity: 1;
  }

  100% {
    background-position-x: center;
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fadeOutFrame {
  0% {
    background-position-x: center;
    opacity: 1;
  }

  100% {
    background-position-x: center;
    opacity: 0;
    display: none;
  }
}

@keyframes fadeInFrame {
  0% {
    opacity: 0;
  }

  100% {
    display: flex;
    background-position-x: center;
    opacity: 1;
  }
}

.landing_bounding_box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1.5vw;
  position: relative;
}

.frontend_landing_page {
  /* background-color: rgb(25, 0, 255); */
  position: relative;
  width: 94.75vw;
  height: 81vh;
}

#landing_navbar {
  /* background-color: rgb(253, 255, 127); */
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 1.25vw;
  margin-bottom: -1.75vw;
}

#landing_navbar .instructional_button_controller {
  width: 1.5vw;
  height: 1vw;
  font-size: 1.05vw;
}

#landing_navbar .instructional_button {
  width: 1.5vw;
  height: 1.5vw;
  font-size: 1.05vw;
  pointer-events: unset !important;
  z-index: 10;
}

.landing_buttons {
  /* background-color: brown !important; */
  display: flex;
  align-items: center;
  height: 2.15vw;
  /* padding-left: 2.8vw; */
  z-index: 10;
}

.landing_button {
  font-size: 1.4vw !important;
  width: fit-content !important;
  padding: 0 1.25vw !important;
}

.menu_button_active {
  box-shadow: none !important;
}

#landing_navbar_tabs .landing_button {
  max-width: none !important;
  min-width: none !important;
  width: 5vw;
}

.landing_windows {
  /* background-color: rgba(143, 188, 143, 0.444); */
  display: flex;
  gap: 10vw;
  scroll-behavior: smooth;
  padding-top: 3.5vw;
  overflow: hidden;
  /* position: relative; */
}

.landing_window {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0.1vw;
  background-position-y: center;
  background-size: cover;
  background-size: 105%;
  min-width: 94.75vw;
  height: 81vh;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 2.25vw;
  position: relative;
  z-index: 5;
}

.landing_window_frame {
  /* background-size: cover; */
  background-size: 105%;
  background-position-x: 0.1vw;
  background-position-y: center;
  background-repeat: no-repeat;
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  position: relative;
}

.landing_window_fading_in {
  animation: 1000ms var(--ease-out-bg) 0ms 1 normal forwards running fadeInWindow;
}

.landing_window_char_fading_in {
  animation: 1.5s var(--ease-out-bg) 0ms 1 normal none running fadeInChar;
}

.landing_window_fading_out {
  animation: 1000ms var(--ease-out-bg) 0ms 1 normal forwards running fadeOutWindow;
}

.landing_frame_fading_in {
  animation: 1000ms var(--ease-out-bg) 750ms 1 normal forwards running fadeInFrame;
}

.landing_frame_fading_out {
  animation: 500ms var(--ease-out-bg) 0ms 1 normal forwards running fadeOutFrame;
}

#landing_window_online {
  background-image: url(images/landing/landing_online_bg.jpg);
}

#landing_window_gtaplus {
  background-image: url(images/landing/landing_gtaplus_bg.png);
}

#landing_window_story_franklin {
  background-image: url(images/landing/landing_story_franklin_bg.png);
  /* opacity: 0; */
}

#landing_window_story_michael {
  background-image: url(images/landing/landing_story_michael_bg.png);
  opacity: 0;
}

#landing_window_story_trevor {
  background-image: url(images/landing/landing_story_trevor_bg.png);
  opacity: 0;
}

.landing_window_info {
  /* background-color: rgba(137, 43, 226, 0.259); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 5 !important;
}

.landing_window_logo {
  /* background-color: rgba(226, 43, 205, 0.78); */
  background-size: contain;
  background-repeat: no-repeat;
  width: 25vw;
  height: 25vw;
  margin-top: 7vw !important;
}

#landing_window_logo_online {
  background-image: url(images/landing/landing_online_logo.svg);
}

#landing_window_logo_gtaplus {
  background-image: url(images/landing/landing_gtaplus_logo.svg);
}

#landing_window_logo_story {
  background-image: url(images/landing/landing_story_logo.svg);
}

.landing_window_info_text {
  /* background-color: rgba(43, 214, 226, 0.78); */
  width: 70%;
  margin-left: 1vw;
  margin-bottom: 0.75vw;
  align-self: flex-start;
}

h1.landing_window_title {
  font-family: "Cologne60";
  font-size: 2.5vw;
  font-weight: 100;
  color: white;
  margin: 0;
}

span.landing_window_text {
  font-family: "London60";
  font-size: 1.25vw;
  font-weight: 100;
  color: white;
}

.landing_window_chars {
  /* background-color: rgba(80, 226, 43, 0.259); */
  background-size: cover;
  background-repeat: no-repeat;
  min-width: 60%;
  height: 105%;
  align-self: end;
  justify-self: end;
}

.landing_window_char {
  /* background-color: rgba(80, 226, 43, 0.259); */
  background-size: contain;
  background-repeat: no-repeat;
  min-width: 50%;
  height: 110%;
  align-self: end;
  position: relative;
}

#landing_window_char_online {
  background-image: url(images/landing/landing_online_characters.png);
}

#landing_window_char_gtaplus {
  background-image: url(images/landing/landing_gtaplus_char.png);
  height: 107.5%;
}

#landing_window_char_franklin {
  background-image: url(images/landing/landing_story_franklin_char.png);
}

#landing_window_char_michael {
  background-image: url(images/landing/landing_story_michael_char.png);
}

#landing_window_char_trevor {
  background-image: url(images/landing/landing_story_trevor_char.png);
}

.landing_window_grad {
  /* background-color: rgba(0, 255, 255, 0.646); */
  background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(255, 0, 0, 0) 75%);
  opacity: 90%;
  min-width: 110%;
  height: 100%;
  position: absolute;
  bottom: -0.1vw;
  z-index: 0;
}

.landing_footer {
  /* background-color: rgba(137, 43, 226, 0.363); */
  z-index: 0;
}

#landing_footer_subtitle {
  align-self: flex-end;
  padding-left: var(--menu-safezone-sides);
}

.landing_subtitle {
  font-family: "London60";
  font-size: 1.325vw;
  font-weight: 100;
  color: white;
  /* display: none; */
}

.instructional_button_controller {
  display: none;
}

#IB_SAVING_SPINNER {
  display: none;
}
