:root {
  --menu-background: url("images/HumaneLabsRaid06.jpg");
  --menu-color: var(--hud-color-heist);
  --menu-color-alpha: var(--hud-color-heist-shard);
  --menu-color-hover: rgb(var(var(--menu-color)) / 0.5);
  --lobby-column-width: 49.75%;
}

/*#region MainMenu*/

div.menu_backdrop {
  backdrop-filter: blur(0.25vw);
}

div.frontend_main_menu {
  visibility: hidden;
}

div.menu_window {
  width: var(--menu-wnd-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  animation: fadeInAnimation ease 0.5s;
}

div.menu_header {
  flex-direction: column;
  align-items: flex-start;
  overflow: visible;
}

span#menu_header_descr {
  height: fit-content;
  font-family: "London60";
  letter-spacing: 0.0165vw;
  color: var(--text-color);
  text-shadow: 0.1vw 0.1vw 0.075vw black;
}

div.menu_navbar {
  margin-bottom: var(--item-margin);
}

button.menu_button {
  background-color: var(--menu-color);
  pointer-events: none;
}

div.menu_elements {
  min-width: var(--menu-elements-width);
}

div.menu_categories .menu_entry:has(+ .menu_divider) {
  margin-bottom: calc(var(--item-margin) / -1) !important;
}

div.menu_categories_footer {
  background-color: var(--black-bg-color);
  margin-top: calc(var(--item-margin) / -1) !important;
}

/*#endregion MainMenu*/

/*#region LobbyMenu*/

div.menu_elements_scrollable .menu_entry {
  background-color: var(--black-bg-color) !important;
  padding-right: 0.25vw;
  pointer-events: none;
}

div.menu_elements_scrollable .menu_entry:not(.menu_entry_empty) {
  background-color: var(--hud-color-heist-shard) !important;
}

div#lobby_players .element_list {
  gap: 0.25vw;
}

div.lobby_details .element_list {
  gap: 0.5vw;
}

div.lobby_details .element_list blip {
  margin-right: 0;
}

img.blip_tick {
  /* background-color: var(--hud-color-green); */
  /* mask */
}

span.player_status {
  background-color: var(--black-bg-color);
  font-family: "Cologne60";
  font-size: 1.25vw;
  padding: 0 0.25vw;
  border-radius: 0.33vw;
}

span.player_status_host {
  background-color: var(--menu-color);
}

span.player_status_joined {
  background-color: var(--hud-color-green);
}

span.player_status_joining {
  background-color: var(--hud-color-orange);
}

span.player_status_invited, span.player_status_blocked, span.player_status_left {
  background-color: var(--hud-color-red);
}

div.player_control {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 1.5vw;
  height: 70%;
}

div.player_control_pad {
  background-image: url(images/icons/control_pad.svg);
}

div.player_control_mouse {
  background-image: url(images/icons/control_mouse.svg);
}

div.player_rank {
  width: 1.75vw;
  height: 1.75vw;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

span.player_rank_bg {
  background-color: black;
  width: 1.65vw;
  height: 1.65vw;
  border-radius: 50%;
  z-index: 0;
}

span.player_rank_icon {
  background-color: var(--hud-color-heist);
  -webkit-mask-image: url(images/icons/player_rank.svg);
  -webkit-mask-size: cover;
  position: absolute;
  width: 1.45vw;
  height: 1.45vw;
  z-index: 1;
}

span.player_rank_number {
  font-family: "Cologne60";
  font-size: 1.4vw;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0.1vw;
  z-index: 2;
}

span.player_rank_number_smaller {
  font-size: 1.15vw !important;
}

span.player_rank_number_bigger {
  font-size: 1.75vw !important;
}

span.player_joined {
  width: 0.33vw;
  height: 100%;
  background-color: var(--menu-color);
  position: absolute;
  left: 0;
}

div.menu_categories .menu_entry_empty,
div.menu_elements_scrollable .menu_entry_empty {
  background-color: var(--black-bg-color);
}

div#lobby_elements {
  background-color: transparent;
  height: fit-content;
  flex-direction: row;
  justify-content: space-between;
}

div.lobby_details {
  background-color: var(--black-bg-color);
  min-width: var(--lobby-column-width);
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--item-margin);
}

div.lobby_details_picture {
  background-color: var(--black-bg-color);
  background-image: url(images/HumaneLabsRaid07.jpg);
  background-size: cover;
  width: 100%;
  height: calc(var(--item-height) * 6 + var(--item-margin) * 5);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

button#lobby_details_title {
  background-color: var(--black-bg-color) !important;
  justify-content: flex-end;
  align-items: center;
}

span#lobby_details_title_text {
  font-family: "SignPainterHouseScript";
  font-size: 1.825vw;
  text-shadow: 0.045vw 0.045vw 0 black;
  padding-left: 1%;
  padding-right: 1%;
}

div.lobby_details_info {
  /* background-color: var(--black-bg-color); */
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--item-margin);
}

div.menu_window_arrows {
  width: var(--menu-elements-width);
  display: flex;
  justify-content: center;
  align-self: flex-end;
  gap: var(--tab-margin);
  visibility: hidden;
}

div.menu_window_arrows_active {
  visibility: visible;
}

button#store_arrows_content {
  min-width: var(--menu-elements-half-width);
  color: var(--text-color);
  justify-self: center;
  justify-content: space-between;
  padding-left: var(--item-padding-sides);
  padding-right: 0.5vw;
}

button#store_arrows_details {
  min-width: var(--menu-elements-half-width);
  color: var(--text-color);
  float: right;
  justify-content: space-between;
  padding-left: var(--item-padding-sides);
  padding-right: 0.5vw;
}

/*#endregion LobbyMenu*/
