@font-face {
  font-family: "London60";
  src: url("fonts/Chalet-LondonSixty2.woff2") format("woff2");
}

@font-face {
  font-family: "SignPainterHouseScript";
  src: url("fonts/SignPainter-HouseScript2.woff2") format("woff2");
}

@font-face {
  font-family: "Cologne60";
  src: url("fonts/ChaletComprime-CologneSixty.otf") format("opentype");
}

:root {
  --menu-color: lightskyblue;
  --black-bg-color: #0000009a;
  --text-color: white;
  --text-color-selected: black;
  --focus-color: white;
  /* --menu-wnd-width: 1300px; */
  /* --menu-wnd-height: 645px; */
  /* --item-double-height: 78px; */
  /* --item-height: 37.5px; */
  /* --item-height: 1.85vw; */
  /* --menu-font-size: 19.5px; */
  /* --header-font-size: 54px; */
  /* --stats-font-size: 27.5px; */
  /* --header-padding-top: 95px; */
  /* --item-margin: 3px; */
  --menu-wnd-width: 67.8125vw;
  --menu-wnd-height: 33.55vw;
  --menu-box-height: 41.5625vw;
  --menu-font-size: 1.025vw;
  --menu-header-font-size: calc(var(--menu-font-size) * 4.18);
  --menu-letter-spacing: -0.007em;
 
  /* --item-height: 5.8%; */
  /* --item-double-height: 12.125%; */
  --item-margin: 0.1625vw;
  --item-height: 1.945vw;
  --item-double-height: calc(var(--item-height) * 2 + var(--item-margin));
  --item-padding-sides: 0.6vw;
  --item-padding-top: 0.45vw;

  --tab-width: 16.5%;
  --tab-margin: 0.2%;

  --header-font-size: 2.85vw;
  --stats-font-size: 1.4vw;
  --header-padding-top: 5vw;
  --header-margin-bottom: 0.75vw;

  --navbar-height: 2vw;
  --navbar-margin-bottom: 1vw;
  --navbar-boxshadow-offset: 0.4vw;
  --navbar-arrow-width: 1.125vw;
  --navbar-margin-arrow: -1.275vw;
}

body {
  background-color: #16251c;
  user-select: none;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0px;
  background-image: url("images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  /* background-size: 1920px 1080px; */
}

/* FRONTEND MAIN MENU */

div.frontend_main_menu {
  /* padding-left: 310px; */
  /* padding-left: 16.2%; */
  /* padding-right: 310px; */
  /* padding-right: 16.2%; */
  /* width: var(--menu-wnd-width); */
  /* height: var(--menu-wnd-height); */
  padding-top: var(--header-padding-top);
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadein 0.25s;
  overflow: hidden;
}

div.menu_box {
  display: flex;
  flex-direction: column;
  width: var(--menu-wnd-width);
  height: var(--menu-box-height);
  justify-content: flex-start;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadein2 {
  from {
    opacity: 0.5;
  }

  to {
    opacity: 1;
  }
}

/* HEADER: Grand Theft Auto V / Online */

div.menu_header {
  text-align: left;
  background-color: transparent;
  width: var(--menu-wnd-width);
  /* height: 8%; */
  /* height: 69px; */
  border: 0px;
  outline: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* float: left; */
  margin: 0;
  overflow: hidden;
  margin-bottom: var(--header-margin-bottom);
}

p.menu_header {
  font-family: "Cologne60", "London60";
  font-size: var(--header-font-size);
  color: var(--text-color);
  text-shadow: 0.1vw 0.1vw 0.15vw #000000;
  width: 75%;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  margin: 0;
  white-space: nowrap;
  float: left;
  /* margin-bottom: 5px; */
}

div.menu_header_character {
  width: 25%;
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  ;
}

div.menu_header_stats {
  background-color: transparent;
  /* width: 341px; */
  /* height: 69px; */
  /* float: right; */
  /* margin-right: 10px; */
  margin-right: 0.5vw;
  align-self: center;
}

p.menu_header_stats {
  font-family: "Cologne60", "London60";
  /* font-size: 27.5px; */
  font-size: var(--stats-font-size);
  color: var(--text-color);
  text-align: right;
  text-shadow: 0.1vw 0.1vw 0.1vw #000000;
  line-height: 88%;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

div.menu_header_avatar {
  background-color: var(--black-bg-color);
  /* width: 69px; */
  /* height: 69px; */
  width: 3.6vw;
  height: 3.6vw;
  /* height: 100%; */
  float: right;
  overflow: hidden;
  /* justify-content: flex-end; */
}

img.menu_header_avatar_picture {
  width: inherit;
  object-fit: cover;
  align-self: center;
  pointer-events: none;
}

/* MENU TAB BUTTONS */

div.menu_navbar {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: var(--navbar-height);
  /* align-items: ; */
  margin-bottom: var(--navbar-margin-bottom);
  /* align-self: center; */
}

nav.menu_buttons {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--navbar-height);
  /* height: 39px; */
  border: 0px;
  display: flex;
  flex-direction: row;
  /* flex-grow: 1; */
  justify-content: space-between;
  overflow: hidden;
  overflow-y: visible;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  /* /* scroll-snap-stop: always; */
  padding-top: var(--navbar-boxshadow-offset);
  margin-top: calc(var(--navbar-boxshadow-offset) * -1);
  /* scroll-padding-block-start: 2vw; */
  /* scroll-padding-block-start: 15%; */
}

button.menu_button {
  background-color: var(--black-bg-color);
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  /* font-size: 120%; */
  text-align: center;
  width: 100%;
  height: 100%;
  /* max-height: 39px; */
  /* max-width: 214px; */
  /* margin: 0px; */
  /* margin-right: 0.24%; */
  min-width: var(--tab-width);
  flex-shrink: 1;
  border: 0px;
  margin-right: var(--tab-margin);
  scroll-snap-align: start end;
  scroll-snap-stop: normal;
  white-space: nowrap;
}

button.menu_button:last-of-type {
  margin-right: 0;
}

button.menu_button:hover {
  background-color: #ffffff40;
}

button.menu_button:focus {
  /* background-color: #ffffff; */
  /* color: black; */
  outline: 0px;
  /* box-shadow: 0px -8px lightskyblue; */
}

button.menu_button:--tab-active {
  background-color: var(--text-color);
  color: black;
  outline: 0px;
  box-shadow: 0px -8px lightskyblue;
}

button#menu_arrow_left {
  width: var(--navbar-arrow-width);
  height: var(--navbar-height);
  border: 0;
  background-color: transparent;
  background-image: url(images/mp_arrowxlarge.png);
  /* background-size: cover; */
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(180deg);
  margin-left: var(--navbar-margin-arrow);
  float: left;
}

button#menu_arrow_right {
  width: var(--navbar-arrow-width);
  max-width: var(--navbar-arrow-width);
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  border: 0;
  background-color: transparent;
  background-image: url(images/mp_arrowxlarge.png);
  /* background-size: cover; */
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: var(--navbar-margin-arrow);
  float: right;
}

/* MENU MAP */

div.menu_map {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  /* display: none; */
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  /* display: none; */
}

img.menu_map_image {
  width: 150%;
  height: auto;
  min-width: 100%;
  max-width: 500%;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  cursor: grab;
  /* pointer-events: none; */
  scroll-behavior: smooth;
  opacity: 100%;
}

img.menu_map_image:active {
  cursor: grabbing;
}

/* MENU BRIEF */

div.menu_brief {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

/* MENU STATS */

div.menu_stats {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

div.menu_stats>div.menu_elements {
  height: 49.75%;
  background-color: var(--black-bg-color);
}

button.menu_element_stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.menu_element_stat:last-of-type {
  /* margin-bottom: 0; */
}

div.element_stat {
  width: 28%;
  /* height: 9px; */
  height: 25%;
  float: right;
  background-color: rgba(109, 185, 215, 0.295);
  /* margin-right: 5px; */
  /* margin-top: 5px; */
  display: flex;
  justify-content: space-between;
}

div.element_stat_perc {
  width: 19%;
  height: 100%;
  border: 0px;
  background-color: rgb(109, 185, 215);
}

div.element_stat_perc_empty {
  /* opacity: 25%; */
  background-color: rgba(109, 185, 215, 0.25);
}

div.element_stat_perc_semi {
  background-color: rgba(109, 185, 215, 0.25);
}

div.element_stat_perc_semi_filled {
  width: 20%;
  height: 100%;
  border: 0;
  background-color: rgb(109, 185, 215);
  opacity: 100%;
  float: left;
  z-index: 1;
}

div.element_info {
  background-color: var(--black-bg-color);
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
  min-height: 27.5%;
  max-height: 27.5%;
  height: auto;
  border: 0;
  /* margin-top: 10px; */
  /* line-height: 26.5px; */
  display: flex;
  justify-content: space-between;
  padding-left: var(--item-padding-sides);
  padding-right: 0.75%;
  padding-top: var(--item-padding-top);
}

span.element_info_text {
  width: 95%;
  line-height: 140%;
  letter-spacing: var(--menu-letter-spacing);
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  float: left;
}

img.element_info_icon {
  height: 32.5%;
  float: right;
  /* padding-top: 6px; */
  vertical-align: top;
  pointer-events: none;
}

/* MENU STATS: 100% COMPLETION */

div.menu_100_completion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

div.menu_100_completion button.menu_entry {
  padding-right: 0;
  background-color: transparent;
  width: 100%;
}

div.menu_100_completion button.menu_element_list_bar {
  background-color: transparent;
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  /* vertical-align: middle; */
  align-items: center;
}

div.menu_100_completion div.menu_element_zone_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  float: left;
  width: 100%;
}

div.menu_100_completion div.menu_element_zone_left {
  /* display: flex; */
  /* flex-direction: column; */
  float: left;
  width: 75%;
  /* height: 25%; */
}

div.menu_element_list_bar_left {
  min-width: 75%;
  /* display: flex; */
  /* justify-content: space-between; */
}

div.menu_100_completion div.element_progress {
  margin-right: var(--item-padding-sides);
}

div.menu_100_completion div.menu_element_zone_right {
  /* padding-top: 10%; */
  /* vertical-align: top; */
  display: flex;
  justify-content: center;
  /* background-color: #134729; */
  float: right;
  width: 25%;
}

div.menu_100_completion_chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-top: var(--item-height); */
  /* vertical-align: middle; */
  width: 60%;
}

canvas#menu_100_completion_chart {
  /* image-rendering: pixelated; */
  position: absolute;
  z-index: 1;
}

span.menu_100_completion_chart_percentage {
  font-family: "London60";
  font-size: calc(var(--menu-font-size) * 1.5);
  color: var(--text-color);
  z-index: 2;
}

div.menu_100_completion #menu_100_completion_progress_0 {
  background-color: rgba(255, 217, 0, 0.25);
}

div.menu_100_completion #menu_100_completion_progress_0>.element_progress_perc {
  background-color: rgb(255, 217, 0);
}

/* MENU SETTINGS */

div.menu_settings {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* flex-wrap: nowrap; */
  /* display: none; */
}

/* MENU GAME */

div.menu_game {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* display: none; */
  flex-wrap: nowrap;
}

div.menu_game .menu_entry_empty_double {
  margin-bottom: 0;
}

span.element_mission_name {
  /* color: var(--text-color); */
  color: gold;
  font-family: "SignPainterHouseScript";
  font-size: 2.5vw;
  text-align: left;
  margin-left: var(--item-margin);
}

/* MENU GAME */

div.menu_online {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

/* MENU STORE */

div.menu_store {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* display: none; */
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  display: none;
}

/* MENU REPLAY */

div.menu_replay {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* display: none; */
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  /* display: none; */
}

/* MENU CATEGORIES (LEFT SIDE) */

div.menu_categories {
  background-color: transparent;
  /* width: 431px; */
  /* height: 520px; */
  width: 33.15%;
  height: 100%;
  /* margin-right: 3px; */
  border: 0px;
  box-sizing: border-box;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

/* MENU CATEGORIES (CENTER SIDE) */

div.menu_categories_middle {
  background-color: transparent;
  /* width: 431px; */
  /* height: 520px; */
  width: 33.15%;
  height: 100%;
  border: 0px;
  box-sizing: border-box;
  float: middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: baseline;
  overflow-y: hidden;
}

/* MENU CATEGORIES (RIGHT SIDE) */

div.menu_categories_right {
  background-color: transparent;
  /* width: 431px; */
  /* height: 520px; */
  width: 33.15%;
  height: 100%;
  /* margin-left: 3px; */
  border: 0px;
  box-sizing: border-box;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-end;
}

/* MENU ELEMENTS (RIGHT SIDE) */

/* div.menu_elements_box {
  background-color: #0000009a;
  width: 66.6%;
  height: 100%;
  border: 0px;
  box-sizing: border-box;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.25%;
} */

div.menu_elements {
  background-color: var(--black-bg-color);
  /* width: 866px; */
  /* height: 686px; */
  width: 66.6%;
  height: 100%;
  border: 0px;
  /* box-sizing: border-box; */
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-bottom: 0.95%; */
  /* z-index: 1; */
  align-self: right;
  overflow: visible;
}

div.menu_elements:last-of-type {
  /* margin-bottom: var(--item-margin); */
}

div.menu_elements_fake {
  background-color: var(--black-bg-color);
  /* opacity: 100%; */
  width: 100%;
  height: 66.6%;
  display: flex;
  border: 10px;
  z-index: -1;
}

button.menu_entry {
  background-color: var(--black-bg-color);
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
  align-items: center;
  border: 0px;
  outline: 0;
  width: 100%;
  /* height: 5.675%; */
  /* margin-bottom: 3.125px; */
  height: var(--item-height);
  min-height: var(--item-height);
  margin-bottom: var(--item-margin);
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  white-space: nowrap;
}

button.menu_entry:hover {
  background-color: #ffffff40;
}

span.element_label {
  /* padding-left: 2px; */
}

button.menu_setting {
  background-color: transparent;
  /* height: 5.675%; */
  height: var(--item-height);
  min-height: var(--item-height);
}

button.menu_setting:last-of-type {
  margin-bottom: 0;
}

button.menu_setting:focus {
  background-color: var(--focus-color);
  color: black;
  outline: 0px;
}

button.menu_entry_empty_double {
  /* height: 12%; */
  height: var(--item-double-height);
}

button.menu_entry_empty_double:hover,
button.menu_entry_empty:hover {
  background-color: var(--black-bg-color);
}

button.menu_element_empty {
  background-color: transparent;
}

button.menu_element_empty:hover {
  background-color: transparent;
}

button.menu_element_empty:nth-child(even) {
  background-color: #00000040;
}

button.menu_arrows {
  background-color: var(--black-bg-color);
  width: 66.6%;
  height: var(--item-height);
  border: 0px;
  /* margin-top: 3px; */
  float: right;
  background-image: url(images/shop_arrows_upanddown.png);
  background-size: auto 70%;
  background-position: center;
  background-repeat: no-repeat;
  align-self: flex-end;
}

/* MENU ELEMENT PROGRESS BAR AND STATS */

div.element_progress {
  margin-right: var(--item-padding-sides);
  width: 22.5%;
  height: 30%;
  float: right;
  background-color: rgba(109, 185, 215, 0.295);
  /* margin: auto; */
  /* margin-right: 8px; */
  /* margin-top: 5px; */
}

button.menu_entry_empty_double div.element_progress {
  height: 15%;
}

div.element_progress_perc {
  background-color: lightskyblue;
  float: left;
  width: 43%;
  height: 100%;
}

/* MENU CATEGORY/ELEMENT TEXT MARGIN */

div.element_list {
  /* margin-right: var(--item-padding-sides); */
  float: right;
}

div.menu_divider {
  background: white;
  width: 100%;
  min-height: var(--item-margin);
  height: var(--item-margin);
}

div.menu_window_text {
  width: 60.5%;
  height: 100%;
  /* margin-top: 2.25%; */
  /* margin-left: 2.75%; */
  margin-top: 1.5vw;
  margin-left: 1.85vw;
  justify-content: flex-start;
}

div.menu_window_text_full {
  width: 100%;
}

h1.menu_window_header {
  width: 66%;
  color: var(--text-color);
  font-family: "London60";
  font-weight: 100;
  /* font-size: 84px; */
  font-size: var(--menu-header-font-size);
  text-align: left;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  /* margin-bottom: 4.9%; */
  margin-bottom: 2vw;
}

span.menu_window_text {
  color: var(--text-color);
  font-family: "London60";
  /* font-size: 19.5px; */
  font-size: var(--menu-font-size);
  text-align: left;
  align-self: flex-start;
  white-space: normal;
  /* line-height: 29.5px; */
  /* line-height: 1.54vw; */
  line-height: 150%;
  letter-spacing: var(--menu-letter-spacing);
}

div.menu_window_picture {
  background-color: black;
  width: 33.2%;
  height: 100%;
  display: flex;
}

img.menu_window_picture {
  width: 100%;
  object-fit: contain;
  pointer-events: none;
}