/*#region Main*/
@font-face {
  font-family: "London60";
  /* src: url("fonts/Chalet-LondonSixty2.woff2") format("woff2"); */
  src: url("fonts/Chalet-LondonNineteenSixty-Game.otf") format("opentype");
}

@font-face {
  font-family: "SignPainterHouseScript";
  src: url("fonts/SignPainter-HouseScript2.woff2") format("woff2");
}

@font-face {
  font-family: "Cologne60";
  src: url("fonts/ChaletComprime-CologneSixty.otf") format("opentype");
}

@font-face {
  font-family: "Pricedown";
  src: url("fonts/Pricedown-GTAVInt.TTF") format("truetype");
}

/* --menu-wnd-width: 1300px; */
/* --menu-wnd-height: 645px; */
/* --item-double-height: 78px; */
/* --item-height: 37.5px; */
/* --item-height: 1.85vw; */
/* --menu-font-size: 19.5px; */
/* --header-font-size: 54px; */
/* --stats-font-size: 27.5px; */
/* --menu-box-padding-top: 95px; */
/* --item-margin: 3px; */

/* --menu-box-height: 41.5625vw; */

/* --menu-categories-width: 33.25%; */
/* --menu-elements-width: 66.55%; */

/* --item-height: 5.8%; */
/* --item-double-height: 12.125%; */

/* --tab-margin: 0.2%; */
/* --navbar-arrow-width: 0.75vw; */
/* --navbar-margin-arrow: 10vw; */
/* --navbar-margin-arrow: calc(var(--menu-wnd-width) / -60); */

:root {
  --menu-background: url("images/bg/background3.jpg");
  --menu-color: lightskyblue;
  --menu-color-alpha: #87cefa40;
  --black-bg-color: #000000aa;
  --text-color: white;
  --text-color-selected: black;
  --focus-color: white;
  --hover-color: #68686877;

  --menu-wnd-width: 67.8125vw;
  --menu-wnd-height: 33.55vw;
  --menu-box-height: 43.125vw;
  --menu-box-padding-top: 5vw;
  --menu-box-padding-bottom: calc(100vh - var(--menu-box-height) - var(--menu-box-padding-top));
  --menu-font-size: 1.025vw;
  --menu-header-font-size: calc(var(--menu-font-size) * 4.18);
  --menu-letter-spacing: -0.007em;

  --menu-categories-width: calc(var(--tab-width) * 2 + var(--tab-margin));
  --menu-elements-width: calc(var(--tab-width) * 4 + var(--tab-margin) * 3);
  --menu-elements-half-width: 49.825%;

  --item-margin: 0.1625vw;
  --item-height: 1.945vw;
  --item-double-height: calc(var(--item-height) * 2 + var(--item-margin));
  --item-padding-sides: 0.6vw;
  --item-padding-top: 0.45vw;

  --tab-width: 16.5%;
  --tab-margin: 0.14vw;

  --header-font-size: 2.85vw;
  --stats-font-size: 1.4vw;
  --header-margin-bottom: 0.75vw;

  --navbar-height: 2vw;
  --navbar-margin-bottom: 1vw;
  --navbar-boxshadow-offset: 0.4vw;
  --navbar-arrow-width: 1%;

  /* HUD COLORS */

  --hud-color-gold: rgb(214 181 99);
  --hud-color-silver: rgb(150 153 161);
  --hud-color-bronze: rgb(180 130 97);

  --hud-color-michael: rgb(101 180 212);
  --hud-color-michael-dark: rgb(72 103 116);

  --hud-color-franklin: rgb(171 237 171);
  --hud-color-franklin-dark: rgb(85 118 85);

  --hud-color-trevor: rgb(255 163 87);
  --hud-color-trevor-dark: rgb(127 81 43);

  --hud-color-freemode: rgb(45 110 185);
  --hud-color-heist: rgb(37 102 40);
  --hud-color-tech: rgb(0 151 151);

  --hud-color-red: rgb(224 50 50);
  --hud-color-green: rgb(114 204 114);
  --hud-color-green-dark: rgb(57 102 57);
  --hud-color-blue: rgb(93 182 229);
  --hud-color-yellow: rgb(240 200 80);
}

body {
  background-color: rgb(60, 60, 60);
  width: 100vw;
  height: 100vh;
  user-select: none;
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  background-image: var(--menu-background);
  background-size: cover;
  background-repeat: no-repeat;
  /* animation: fadeInAnimation ease 0.25s; */
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeInMapAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

div.menu_backdrop {
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(0.25vw);
}

div.menu_bounding_box {
  aspect-ratio: 16 / 9;
  width: 100vw;
  /* min-width: 70%; */
  height: 100vh;
  max-height: 56.25vw;
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

div.menu_warning_message {
  background-color: black;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 10;
  /* display: none; */
  visibility: hidden;
}

div.menu_warning_message_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: -5%;
  align-items: center;
}

h1.menu_warning_message_header {
  font-family: "Pricedown";
  font-weight: 100;
  font-size: 6.25vw;
  color: var(--hud-color-yellow);
  margin-bottom: 0.5vw;
}

span.menu_warning_message_text {
  max-width: 70%;
  font-family: "London60";
  font-weight: 100;
  font-size: 1.4vw;
  color: white;
  text-align: center;
  display: block;
  border-top: 0.2vw solid white;
  border-bottom: 0.2vw solid white;
  padding: 0.55vw 2.5vw 0.75vw 2.5vw;
}

div#menu_instructional_buttons {
  visibility: hidden;
}

div.instructional_buttons {
  background-color: var(--black-bg-color);
  color: white;
  /* width: 500px; */
  height: 2.25vw;
  border-radius: 0.2vw;
  align-self: flex-end;
  justify-self: flex-end;
  z-index: 10;
  /* margin-top: -35px; */
  margin-bottom: 0.8vw;
  margin-right: 1.5vw;
  display: flex;
  align-items: center;
  padding: 0 0.5vw;
}

span.instructional_button_prompt {
  font-size: 0.95vw !important;
  margin-right: 0.25vw;
  word-wrap: nowrap;
}

div.ib_container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin-right: 1vw;
}

div.ib_container:not(div.ib_container_inactive):hover {
  background-color: var(--hover-color);
}

div.ib_container .instructional_button {
  min-width: 1.575vw;
  max-width: fit-content;
  height: 1.575vw;
  max-height: 1.575vw;
  margin-right: 0.25vw;
}

div.ib_container .instructional_button:last-of-type {
  margin-right: 0;
}

div.ib_container:last-of-type {
  margin-right: 0;
}

/* @media only screen and (max-width: 1280px) {
  :root {
    --menu-wnd-width: 100%;
    --menu-wnd-height: 100%;
  }
  .menu_bounding_box {
    min-width: 100%;
  }
  .frontend_main_menu {
    min-width: 70%;
  }
} */

/*#endregion Main*/

/*#region Markup*/
ylw {
  color: rgb(240, 200, 80);
}

red {
  color: rgb(224, 50, 50);
}

grn {
  color: rgb(114, 204, 114);
}

blu {
  color: rgb(93, 182, 229);
}

C {
  font-family: "Cologne60";
  font-size: larger;
  color: inherit;
  background-color: inherit;
}

.bg_color_michael {
  background-color: var(--hud-color-michael);
}

.bg_color_michael_alpha {
  background-color: rgba(101, 180, 212, 0.25);
}

.bg_color_franklin {
  background-color: var(--hud-color-franklin);
}

.bg_color_franklin_alpha {
  background-color: rgba(171, 237, 171, 0.25);
}

.bg_color_trevor {
  background-color: var(--hud-color-trevor);
}

.bg_color_trevor_alpha {
  background-color: rgba(255, 163, 87, 0.25);
}

.bg_color_freemode {
  background-color: var(--hud-color-freemode);
}

.bg_color_freemode_alpha {
  background-color: rgba(45, 110, 185, 0.25);
}

/*#endregion Markup*/

/*#region MainMenu*/
div.frontend_main_menu {
  width: 100%;
  height: 100%;
  padding-top: var(--menu-box-padding-top);
  /* padding-bottom: var(--menu-box-padding-bottom); */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  animation: fadeInAnimation ease 0.25s;
  overflow: visible;
  z-index: 1;
  visibility: hidden;
}

div.menu_box {
  display: flex;
  flex-direction: column;
  width: var(--menu-wnd-width);
  max-width: calc(var(--menu-wnd-width) * 2);
  height: var(--menu-box-height);
  justify-content: flex-start;
  /* animation: fadeInAnimation ease 0.25s; */
}

div.menu_window {
  animation: 250ms ease-out 0ms 1 normal none running fadeInAnimation;
  position: relative;
}

a.menu_window_clickable {
  text-decoration: none;
}

/*#endregion MainMenu*/

/*#region MenuHeader*/
div.menu_header {
  text-align: left;
  background-color: transparent;
  width: var(--menu-wnd-width);
  /* height: 8%; */
  /* height: 69px; */
  border: 0px;
  outline: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  /* float: left; */
  margin: 0;
  overflow: hidden;
  margin-bottom: var(--header-margin-bottom);
}

p#menu_header_text {
  font-family: "Cologne60", "London60";
  font-size: var(--header-font-size);
  color: var(--text-color);
  text-shadow: 0.1vw 0.1vw 0.15vw #000000;
  width: 75%;
  display: flex;
  /* flex-direction: column; */
  justify-content: flex-start;
  margin: 0;
  white-space: nowrap;
  float: left;
  /* margin-bottom: 5px; */
}

div.menu_header_character {
  width: 25%;
  float: right;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  overflow: hidden;
  ;
}

div.menu_header_stats {
  background-color: transparent;
  align-self: center;
}

span#menu_header_stats_text {
  font-family: "Cologne60", "London60";
  font-size: var(--stats-font-size);
  color: var(--text-color);
  text-align: right;
  text-shadow: 0.1vw 0.1vw 0.1vw #000000;
  line-height: 88%;
  white-space: nowrap;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
}

div.menu_header_avatar {
  background-color: var(--black-bg-color);
  width: 3.6vw;
  height: 3.6vw;
  float: right;
  overflow: hidden;
  margin-left: 0.5vw;
}

img.menu_header_avatar_picture {
  width: inherit;
  object-fit: cover;
  align-self: center;
  pointer-events: none;
}

/*#endregion MenuHeader */

/*#region MenuNavBar*/
div.menu_navbar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: var(--navbar-height);
  width: calc(var(--menu-wnd-width) * 1.04);
  margin-bottom: var(--navbar-margin-bottom);
  align-self: center;
  align-items: center;
}

nav.menu_buttons {
  align-self: center;
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--navbar-height);
  /* height: 39px; */
  border: 0px;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  flex-grow: 0;
  /* flex-grow: 1; */
  justify-content: space-between;
  gap: var(--tab-margin);
  overflow-x: scroll;
  overflow-y: visible;
  flex-wrap: nowrap;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  touch-action: manipulation;
  /* /* scroll-snap-stop: always; */
  padding-top: var(--navbar-boxshadow-offset);
  margin-top: calc(var(--navbar-boxshadow-offset) * -1);
  /* scroll-padding-block-start: 2vw; */
  /* scroll-padding-block-start: 15%; */
}

nav.menu_buttons::-webkit-scrollbar {
  display: none;
}

button.menu_button {
  background-color: var(--black-bg-color);
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  /* font-size: 120%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  height: 100%;
  /* max-height: 39px; */
  /* max-width: 214px; */
  /* margin: 0px; */
  /* margin-right: 0.24%; */
  min-width: var(--tab-width);
  flex-shrink: 1;
  border: 0px;
  /* margin-right: var(--tab-margin); */
  scroll-snap-align: start end;
  scroll-snap-stop: normal;
  white-space: nowrap;
}

button.menu_button:hover {
  background-color: var(--hover-color);
}

button.menu_button_active {
  background-color: white;
  color: rgb(0, 0, 0);
  box-shadow: var(--menu-color) 0px -0.4vw;
}

button.menu_button_active:hover {
  background-color: white !important;
}

button.menu_button:focus {
  /* background-color: #ffffff; */
  /* color: black; */
  outline: 0px;
  /* box-shadow: 0px -8px lightskyblue; */
}

button#menu_arrow_left {
  width: var(--navbar-arrow-width);
  max-width: var(--navbar-arrow-width);
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  border: 0;
  background-color: transparent;
  background-image: url(images/arrow_right.svg);
  /* background-size: cover; */
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  /* margin-left: var(--navbar-margin-arrow); */
  float: left;
  align-self: flex-start;
  flex-grow: 0;
}

button#menu_arrow_right {
  width: var(--navbar-arrow-width);
  max-width: var(--navbar-arrow-width);
  height: var(--navbar-height);
  max-height: var(--navbar-height);
  border: 0;
  background-color: transparent;
  background-image: url(images/arrow_right.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-right: var(--navbar-margin-arrow); */
  float: right;
  align-self: flex-end;
  flex-grow: 0;
}

/*#endregion MenuNavBar */

/*#region MenuBaseEntries*/
button.menu_entry {
  background-color: var(--black-bg-color);
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
  display: flex;
  justify-content: space-between;
  justify-self: flex-start;
  align-items: center;
  border: 0px;
  outline: 0;
  width: 100%;
  /* height: 5.675%; */
  /* margin-bottom: 3.125px; */
  height: var(--item-height);
  position: relative;
  min-height: var(--item-height);
  margin-bottom: var(--item-margin);
  padding: 0;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  white-space: nowrap;
  scroll-snap-align: start end;
}

button.menu_entry:hover {
  background-color: var(--hover-color);
}

button.menu_entry_active {
  background-color: white !important;
  color: black !important;
}

button.menu_entry:not(button.menu_entry_active) .menu_entry_zone_left,
button.menu_entry:not(button.menu_entry_active) .menu_entry_zone_right {
  display: none;
}

button.menu_entry .menu_entry_zone_left {
  /* background-color: rgba(13, 90, 90, 0.3); */
  position: absolute;
  float: left;
  width: 75%;
  height: 100%;
  top: 0;
  left: 0;
}

button.menu_entry .menu_entry_zone_right {
  /* background-color: rgba(87, 90, 13, 0.3); */
  position: absolute;
  float: right;
  width: 25%;
  height: 100%;
  top: 0;
  right: 0;
}

span.element_label {
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
}

button.menu_category_list .element_label {
  width: 75%;
  height: 100%;
  display: inline-flex;
  align-items: center;
}

span.element_simple_text {
  width: 100%;
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
  line-height: 150%;
}

div.element_list {
  height: 100%;
  float: right;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

button.menu_entry_empty_double {
  /* height: 12%; */
  min-height: var(--item-double-height);
  align-self: flex-start;
}

button.menu_entry_empty_double:hover,
button.menu_entry_empty:hover {
  /* background-color: var(--black-bg-color); */
  background-color: transparent;
}

button.menu_entry_empty {
  background-color: transparent;
}

button.menu_entry_empty_even:nth-child(even) {
  background-color: #00000040;
}

button.menu_entry_empty_odd:nth-child(odd) {
  background-color: #00000040;
}

div.menu_elements_header button.menu_entry {
  margin: 0;
  background-color: transparent;
  background-clip: padding-box;
}

div.element_progress {
  width: 22.5%;
  height: 0.5vw;
  float: right;
  background-color: #6db9d74b;
  display: flex;
  justify-content: space-between;
  position: relative;
}

div.element_progress_clickable .element_progress_zone_left {
  /* background-color: rgba(128, 255, 0, 0.262); */
  width: 50%;
  height: 100%;
  z-index: 2;
  float: left;
}

div.element_progress_clickable .element_progress_zone_right {
  /* background-color: rgba(51, 0, 255, 0.23); */
  width: 50%;
  height: 100%;
  z-index: 2;
  float: right;
}

div.element_progress_perc {
  background-color: var(--menu-color);
  float: left;
  width: 70%;
  height: 100%;
  /* z-index: 0; */
  position: absolute;
  /* left: 0; */
}

button.menu_entry_empty_double div.element_progress {
  height: 15%;
}

button.menu_entry_centered {
  justify-content: center;
}

div.menu_divider {
  background: white;
  width: 100%;
  min-height: var(--item-margin);
  height: var(--item-margin);
}

button.instructional_button {
  min-width: 1.25vw;
  height: 1.25vw;
  /* max-width: fit-content; */
  max-height: 1.575vw;
  font-family: "London60";
  /* font-size: 0.8vw; */
  font-size: 0.9vw;
  display: inline-flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 0;
  padding-left: 0.25vw;
  padding-right: 0.25vw;
  border: 0;
  outline: 0;
  border-radius: 0.1vw;
  pointer-events: none;
}

img.instructional_button {
  pointer-events: none;
  width: 1.25vw;
  vertical-align: middle;
}

button.instructional_button_small {
  max-width: 1.25vw;
  font-size: 0.75vw;
}

button.instructional_button_wide {
  width: 1.875vw;
  font-size: 0.75vw;
}

button.menu_entry_arrows {
  background-color: var(--black-bg-color);
  height: var(--item-height);
  border: 0;
  outline: 0;
  margin-top: var(--item-margin);
  padding-right: var(--item-padding-sides);
  /* justify-self: flex-end; */
}

div.element_arrows {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 100%;
  /* pointer-events: none; */
}

button.menu_arrows {
  background-color: var(--black-bg-color);
  background-image: url(images/arrows_vertical.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: right;
  background-size: contain;
  width: var(--menu-elements-width);
  height: var(--item-height);
  border: 0px;
  margin-top: var(--item-margin);
  float: right;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: flex-end;
  padding: 0;
  /* pointer-events: none; */
}

button.menu_arrows_full {
  flex-direction: column;
  background-position: center;
}

button.menu_arrows_horizontal {
  flex-direction: column;
  background-position: center;
}

div.menu_arrows_zones {
  width: 6%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.menu_arrows_zone_up,
div.menu_arrows_zone_down {
  width: 100%;
  height: 50%;
}

div.menu_arrows_zone:hover {
  /* background-color: var(--hover-color); */
}

img.menu_entry_arrow_left {
  width: 0.45vw;
  height: 0.7vw;
  max-height: 0.7vw;
  transform: scaleX(-1);
  /* height: 50%; */
  filter: invert();
  align-self: center;
  display: inline;
  pointer-events: none;
  margin-right: 0.3vw;
}

img.menu_entry_arrow_right {
  width: 0.45vw;
  height: 0.7vw;
  max-height: 0.7vw;
  /* height: 50%; */
  filter: invert();
  align-self: center;
  display: inline;
  pointer-events: none;
  margin-left: 0.3vw;
}

div.menu_loading_spinner {
  /* background-color: blue; */
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  z-index: -1;
  position: relative;
  /* display: none; */
}

div.menu_loading_spinner>img.menu_loading_spinner {
  width: 3vw;
  height: 3vw;
  animation: spin 750ms infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
}

img.menu_loading_spinner_slow {
  animation: spin 2500ms infinite linear !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/*#endregion MenuBaseEntries */

/*#region MenuWindowTypes*/

div.menu_window_text {
  width: 60.5%;
  height: 100%;
  /* margin-top: 2.25%; */
  /* margin-left: 2.75%; */
  margin-top: 1.5vw;
  margin-left: 1.85vw;
  justify-content: flex-start;
}

div.menu_window_text_full {
  width: 100%;
}

h1.menu_window_header {
  width: 100%;
  color: var(--text-color);
  font-family: "London60";
  font-weight: 100;
  /* font-size: 84px; */
  font-size: var(--menu-header-font-size);
  text-align: left;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  align-self: flex-start;
  /* margin-bottom: 4.9%; */
  margin-bottom: 2vw;
}

span.menu_window_text {
  color: var(--text-color);
  font-family: "London60";
  /* font-size: 19.5px; */
  font-size: var(--menu-font-size);
  text-align: left;
  align-self: flex-start;
  white-space: normal;
  /* line-height: 29.5px; */
  /* line-height: 1.54vw; */
  line-height: 150%;
  letter-spacing: var(--menu-letter-spacing);
}

div.menu_window_picture {
  background-color: black;
  width: var(--menu-categories-width);
  height: 100%;
  display: flex;
  justify-content: center;
}

img.menu_window_picture {
  width: 80%;
  object-fit: contain;
  pointer-events: none;
}

/*#endregion MenuWindowTypes*/

/*#region MenuContent*/
div.menu_categories {
  background-color: transparent;
  /* width: 431px; */
  /* height: 520px; */
  width: var(--menu-categories-width);
  max-height: 100%;
  height: fit-content;
  /* margin-right: 3px; */
  border: 0px;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

div.menu_categories .menu_category:last-of-type {
  margin-bottom: 0;
}

div.menu_entries_middle {
  background-color: transparent;
  /* width: 431px; */
  /* height: 520px; */
  width: 33.15%;
  height: 100%;
  border: 0px;
  box-sizing: border-box;
  float: middle;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: baseline;
  overflow-y: hidden;
}

div.menu_elements {
  background-color: var(--black-bg-color);
  /* width: 866px; */
  /* height: 686px; */
  width: var(--menu-elements-width);
  max-height: 100%;
  border: 0px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* margin-bottom: 0.95%; */
  /* z-index: 1; */
  /* align-self: right; */
  overflow: hidden;
  /* align-self: stretch; */
  scroll-snap-type: mandatory;
}

div.menu_elements_scrollable {
  width: 100%;
  /* background-color: var(--black-bg-color); */
  flex-direction: column;
  scroll-snap-type: mandatory;
  scroll-snap-align: start end;
  /* overflow: scroll; */
}

div.menu_elements_scrollable .menu_entry:last-of-type {
  margin-bottom: 0;
}

div.menu_elements_scrollable .menu_entry {
  /* background-color: transparent; */
}

div.menu_background_rockstar {
  background-image: url(images/rockstar_bg.svg);
  /* background-blend-mode: multiply; */
  background-size: cover;
  background-repeat: repeat-x;
  /* background-repeat: repeat round; */
  /* background: linear-gradient(180deg, rgba(0, 0, 0, 0.52), rgba(255, 255, 255, 0)) */
}

/*#endregion MenuContent*/

/*#region MenuTabMap*/
div.menu_map {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  /* display: none; */
  /* animation: 250ms ease 0ms 1 normal none running fadeInMapAnimation; */
}

#menu_map_image {
  display: none;
}

/*#endregion MenuTabMap*/

/*#region MenuTabBrief*/
div.menu_brief {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

div.menu_brief>div.menu_elements {
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-type: block mandatory;
  scroll-behavior: smooth;
}

div#menu_brief_notifications img,
div#menu_brief_dialogue img {
  /* height: 75%; */
  height: 3.2vw;
  animation: 250ms ease-out 0ms 1 normal none running fadeInAnimation;
}

div.menu_brief .menu_elements_scrollable {
  margin-top: 0.35vw;
}

/* MENU BRIEF: MISSION */

div#menu_brief_mission .menu_elements_scrollable {
  /* background-color: transparent; */
  scrollbar-width: none;
  overflow-y: scroll;
}

div.menu_brief #menu_brief_mission .menu_elements_scrollable::-webkit-scrollbar {
  display: none;
}

div.menu_brief .menu_brief_mission_entry {
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  line-height: 140%;
  max-width: 100%;
  height: fit-content;
  /* min-height: var(--item-height); */
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  /* margin-bottom: var(--item-margin); */
  margin-bottom: 0.75vh;
}

/* MENU BRIEF: DIALOGUE */

div#menu_brief_dialogue .menu_elements_scrollable {
  background-color: transparent;
  height: fit-content;
  overflow: hidden;
  margin-top: 0;
  scroll-behavior: smooth;
}

div.menu_brief .menu_brief_dialogue_entry {
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  width: 100%;
  height: fit-content;
  min-height: var(--item-double-height);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-left: var(--item-padding-sides);
  margin-bottom: var(--item-margin);
}

div.menu_brief .menu_brief_dialogue_entry:last-of-type {
  margin-bottom: 0;
}

div.menu_brief .dialogue_entry_string {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

div.menu_brief .dialogue_entry_text {
  align-self: flex-start;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  line-height: 150%;
  letter-spacing: var(--menu-letter-spacing);
}

/* MENU BRIEF: NOTIFICATIONS */

div.menu_brief #menu_brief_notifications .menu_elements_scrollable {
  scrollbar-width: none;
  overflow-y: scroll;
}

div.menu_brief #menu_brief_notifications .menu_elements_scrollable::-webkit-scrollbar {
  display: none;
}

div.menu_brief .menu_brief_notifications_entry {
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  max-width: 100%;
  /* min-height: var(--item-height); */
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-left: var(--item-padding-sides);
  /* margin-bottom: var(--item-margin); */
  margin-bottom: 0.5vh;
}

div.menu_brief .menu_brief_notifications_entry_double {
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  max-width: 100%;
  height: var(--item-double-height);
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  padding-left: var(--item-padding-sides);
  margin-bottom: var(--item-margin);
}

div.menu_brief .menu_brief_notifications_entry:last-of-type {
  margin-bottom: 0;
}

div.menu_brief .notification_header {
  display: flex;
  flex-direction: row;
  pointer-events: none;
}

div.menu_brief .notification_header_text {
  align-self: flex-start;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  line-height: 150%;
  font-size: 110%;
  letter-spacing: var(--menu-letter-spacing);
}

div.menu_brief .notification_string {
  padding-right: var(--item-padding-sides);
  min-height: var(--item-height);
  height: fit-content;
}

div.menu_brief .notification_string_text {
  line-height: 150%;
  letter-spacing: var(--menu-letter-spacing);
}

/* div.menu_brief .menu_brief_notifications_entry {
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  width: 100%;
  height: fit-content;
  min-height: var(--item-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  padding-left: var(--item-padding-sides);
  margin-bottom: calc(var(--item-margin) * 2);
} */

/*#endregion MenuTabBrief*/

/*#region MenuTabStats*/
div.menu_stats {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

/* MENU STATS: SKILLS */

button.menu_element_stat {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.menu_stats .menu_elements .menu_element_stat:last-of-type {
  margin-bottom: 0;
}

div.element_stat {
  width: 12.25vw;
  height: 0.5vw;
  /* width: 28%; */
  /* height: 25%; */
  float: right;
  display: flex;
  justify-content: space-between;
}

div.element_stat_perc {
  width: 18.75%;
  height: 100%;
  border: 0px;
  /* background-color: var(--menu-color); */
}

div.element_stat_perc_empty {
  /* opacity: 25%; */
  /* background-color: var(--menu-color-alpha); */
}

div.element_stat_perc_semi {
  /* background-color: var(--menu-color-alpha); */
}

div.element_stat_perc_semi_filled {
  /* width: 20%; */
  height: 100%;
  border: 0;
  /* background-color: var(--menu-color); */
  opacity: 100%;
  float: left;
  z-index: 1;
}

div.element_info {
  /* background-color: var(--black-bg-color); */
  color: var(--text-color);
  font-family: "London60";
  font-size: var(--menu-font-size);
  text-align: left;
  min-height: 27.5%;
  max-height: 27.5%;
  height: auto;
  border: 0;
  /* margin-top: 10px; */
  /* line-height: 26.5px; */
  display: flex;
  justify-content: space-between;
  padding-left: var(--item-padding-sides);
  padding-right: 0.75%;
  padding-top: var(--item-padding-top);
  padding-bottom: var(--item-padding-top);
}

span.element_info_text {
  width: 95%;
  line-height: 140%;
  letter-spacing: var(--menu-letter-spacing);
  /* padding-top: 8px; */
  /* padding-bottom: 8px; */
  float: left;
}

img.element_info_icon {
  width: 3%;
  height: 3%;
  float: right;
  /* padding-top: 6px; */
  vertical-align: top;
  pointer-events: none;
}

/* MENU STATS: GENERAL */

div#menu_stats_general {
  /* overflow-y: scroll; */
  scroll-behavior: auto;
  scroll-snap-type: y mandatory;
}

/* MENU STATS: 100% COMPLETION */

div#menu_stats_100_completion {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* animation: fadeInAnimation ease 0.25s; */
}

div#menu_stats_100_completion .menu_elements_zone_left {
  width: 75%;
  float: left;
  display: flex;
  flex-direction: column;
}

div#menu_stats_100_completion .menu_elements_zone_left .menu_entry {
  padding-right: 0;
}

div#menu_stats_100_completion .menu_elements_zone_right {
  width: 25%;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: var(--item-padding-sides);
}

div.menu_stats_100_completion_chart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* padding-top: var(--item-height); */
  /* vertical-align: middle; */
  width: 60%;
  height: calc((var(--item-height) + var(--item-margin)) * 5);
}

canvas#menu_stats_100_completion_chart {
  /* image-rendering: pixelated; */
  position: absolute;
  z-index: 1;
}

#menu_stats_100_completion_chart_percentage {
  font-family: "London60";
  font-size: calc(var(--menu-font-size) * 1.5);
  color: var(--text-color);
  z-index: 2;
}

div#menu_stats_100_completion .element_progress {
  width: 100%;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_0 {
  background-color: #ffd90040;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_0>.element_progress_perc {
  background-color: gold;
  width: 10%;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_1 {
  background-color: #90ee9040;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_1>.element_progress_perc {
  background-color: lightgreen;
  width: 20%;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_2 {
  background-color: #87cefa40;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_2>.element_progress_perc {
  background-color: lightskyblue;
  width: 30%;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_3 {
  background-color: #ffa07a40;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_3>.element_progress_perc {
  background-color: lightsalmon;
  width: 40%;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_4 {
  background-color: #8b000040;
}

div#menu_stats_100_completion #menu_stats_100_completion_progress_4>.element_progress_perc {
  background-color: darkred;
  width: 50%;
}

/*#endregion MenuTabStats*/

/*#region MenuTabSettings*/
div.menu_settings {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* align-items: stretch; */
  display: none;
  flex-wrap: nowrap;
  /* flex-wrap: nowrap; */
  /* display: none; */
}

div.menu_settings .menu_elements_header {
  margin-bottom: var(--item-margin);
  background-color: var(--black-bg-color);
}

div.menu_settings .menu_elements_header img {}

div.menu_settings>.menu_elements {
  background-color: transparent;
  /* width: 100%; */
}

div.menu_settings .menu_elements_scrollable .menu_entry {
  background-color: transparent;
}

div.menu_settings>div.menu_elements .menu_entry {
  /* background-color: transparent; */
  /* width: 100%; */
}

div.menu_settings>div.menu_elements .menu_entry:hover {
  background-color: var(--hover-color);
}

div.menu_settings>div.menu_elements .menu_entry:focus {
  /* background-color: var(--focus-color); */
  /* color: var(--text-color-selected); */
}

div.menu_settings>div.menu_elements .menu_entry_empty:focus {
  background-color: transparent;
  color: var(--text-color);
}

div.menu_settings>div.menu_elements .menu_entry_empty:hover {
  background-color: transparent;
}

div#menu_settings_gamepad {
  background-color: transparent;
  /* height: 100%; */
}

div#menu_settings_gamepad .menu_elements_header {
  background-color: var(--black-bg-color);
  display: flex;
  flex-direction: column;
  /* height: 50%; */
  min-height: calc(var(--item-height) * 8 + var(--item-margin) * 7);
  justify-content: flex-start;
  align-items: center;
}

div.menu_settings_gamepad_header_buttons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

div.menu_settings_gamepad_header_element_1 {
  background-image: url(images/gamepad_calibration_i6.png);
  background-size: 105%;
  background-origin: content-box;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 1vw;
  min-width: 40%;
  /* height: 100%; */
  overflow: hidden;
}

div.menu_settings_gamepad_header_prompts {
  /* background-color: beige; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

div.menu_settings_gamepad_header_prompts:last-of-type .element_label {
  text-align: left;
}

div.menu_settings_gamepad_header_prompts .element_label {
  /* font-size: calc(var(--menu-font-size) * 1); */
  text-align: right;
  word-wrap: break-word;
  color: white;
}

div#menu_settings_gamepad .menu_elements {
  /* background-color: transparent; */
  width: 100%;
}

div#menu_settings_graphics .menu_elements_scrollable {
  /* max-height: 50%; */
}

/*#endregion MenuTabSettings*/

/*#region MenuTabGame*/
div.menu_game {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  /* display: none; */
  flex-wrap: nowrap;
}

div.menu_game .menu_elements {
  width: var(--menu-elements-width);
  /* height: 100%; */
  /* height: 170%; */
  /* height: fit-content; */
  /* min-height: 100%; */
  flex-direction: row;
  background-color: transparent;
  justify-content: space-between;
  /* overflow: visible; */
  /* background-color: violet; */
  /* scroll-snap-type: mandatory; */
}

div.menu_game .menu_entries_middle {
  width: var(--menu-elements-half-width);
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* overflow: hidden; */
  /* justify-self: flex-start; */
  /* background-color: var(--black-bg-color); */
}

div.menu_game .menu_entries_middle .menu_entry {
  background-color: var(--black-bg-color);
  scroll-snap-align: start end;
}

div.menu_game .menu_entries_middle .menu_entry:hover {
  background-color: var(--hover-color);
}

div.menu_game>.menu_elements .element_list {
  width: 1vw;
  height: 1vw;
}

div.menu_game .menu_entries_middle .menu_entry:last-of-type {
  margin-bottom: 0;
}

div.element_medal_right {
  height: 100%;
  width: 100%;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

div.element_medal_right[data-medal-type="0"] {
  background-color: var(--hud-color-gold);
}

div.element_medal_right[data-medal-type="1"] {
  background-color: var(--hud-color-silver);
}

div.element_medal_right[data-medal-type="2"] {
  background-color: var(--hud-color-bronze);
}

.element_checkbox {
  width: 1vw;
  height: 1vw;
  background-image: url(images/icons/checkbox_empty.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.element_checkbox[data-check="0"] {
  background-image: url(images/icons/checkbox_empty.svg);
}

.element_checkbox[data-check="1"] {
  background-image: url(images/icons/checkbox_ticked.svg);
}

div.menu_game .menu_game_mission_info {
  background-color: transparent;
  width: var(--menu-elements-half-width);
  height: fit-content;
  max-height: 100%;
  border: 0px;
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-self: flex-end;
  overflow: hidden;
  position: sticky;
  top: 0;
}

div.menu_game .menu_game_mission_info button {
  background-color: var(--black-bg-color);
}

div.menu_game .menu_entry_empty_double {
  background-color: transparent;
  margin-bottom: var(--item-margin);
}

div.menu_game .element_mission_name {
  /* color: var(--text-color); */
  color: gold;
  font-family: "SignPainterHouseScript";
  font-size: 2.5vw;
  text-align: left;
  margin-left: var(--item-margin);
}

div.menu_game .menu_game_mission_info_header .menu_entry_empty_double {
  margin-bottom: 0;
}

div.menu_game .menu_game_mission_info_objectives {
  background-color: var(--black-bg-color);
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin-top: var(--item-margin);
}

div.menu_game .menu_game_mission_info_objectives:empty {
  width: 0;
  margin-top: 0;
}

div.menu_entry_objective {
  max-width: 100%;
  color: white;
  height: fit-content;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
  margin-bottom: 0.25vw;
}

div.menu_game_mission_info_objectives .menu_entry_objective:first-of-type {
  padding-top: var(--item-padding-top);
}

div.menu_game_mission_info_objectives .menu_entry_objective:last-of-type {
  padding-top: var(--item-padding-top);
  padding-bottom: var(--item-padding-top);
}

div.menu_entry_objective_title {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: var(--item-margin);
}

span.menu_entry_objective_descr {
  display: block;
  max-width: 90%;
}

div.menu_entry_objective_title .menu_entry_objective_label {
  margin-right: auto;
}

div.menu_entry_objective_title .element_checkbox {
  margin-left: 1vw;
}

button.menu_arrows_game {
  width: var(--menu-categories-width);
  color: var(--text-color);
  float: left;
  justify-content: space-between;
  margin-left: calc(var(--menu-categories-width) + var(--tab-margin));
  padding-left: var(--item-padding-sides);
  /* padding-right: var(--item-padding-sides); */
  padding-right: 0.5vw;
}

/*#endregion MenuTabGame*/

/*#region MenuTabOnline*/
div.menu_online {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

div.menu_online .menu_elements {
  height: 100%;
}

/*#endregion MenuTabOnline*/

/*#region MenuTabFriends*/
div.menu_friends {
  background-color: transpbarent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
  /* opacity: 50%; */
}

span.player_label {
  font-family: "Cologne60";
  font-size: larger;
}

div.menu_friends .menu_elements {
  background-color: transparent;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
}

div.menu_friends_character {
  background-color: var(--black-bg-color);
  width: var(--menu-elements-half-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

div.menu_friends_character .menu_entry {
  margin-bottom: 0;
}

div.menu_friends_info {
  width: var(--menu-elements-half-width);
  height: 100%;
}

div.menu_friends_info_100_completion_chart {
  background-color: var(--black-bg-color);
  width: 100%;
  height: calc(var(--item-height) * 5 + var(--item-margin) * 4);
  margin-bottom: var(--item-margin);
}

#menu_friends_info_100_completion_header {
  background-color: white;
  color: black;
  margin-bottom: 0;
}

div.menu_friends_info_100_completion_chart .menu_divider {
  background-color: grey;
}

div.menu_friends_info_100_completion_perc {
  background-color: var(--black-bg-color);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding-left: var(--item-padding-sides); */
  /* padding-right: var(--item-padding-sides); */
}

div.menu_friends_info_100_completion_perc .element_progress {
  height: 0.625vw;
  width: 95%;
}

button.menu_arrows_friends {
  width: 33.25%;
  float: left;
  color: var(--text-color);
  justify-content: space-between;
  padding-left: var(--item-padding-sides);
  padding-right: var(--item-padding-sides);
}

/*#endregion MenuTabFriends*/

/*#region MenuTabGallery*/
div.menu_gallery {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  display: none;
  flex-wrap: nowrap;
}

div.menu_gallery .menu_gallery_entries {
  width: var(--menu-elements-width);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  float: left;
}

div.menu_gallery_photos {
  background-color: transparent;
  width: 100%;
  min-height: 75.35%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

div.menu_gallery_photo {
  background-color: var(--black-bg-color);
  width: 24.75%;
  height: 32.7%;
  /* margin-bottom: var(--item-margin); */
}

div.menu_gallery_photo:hover {
  background-color: var(--hover-color);
  box-shadow: inset 100vw 0 rgba(255, 255, 255, 0.15);
}

div.menu_gallery_photo:active {
  outline: 0.4vw solid white;
  outline-offset: -0.4vw;
}

#menu_gallery_photo_0 {
  background: url(images/bg/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#menu_gallery_photo_1 {
  background: url(images/bg/background2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#menu_gallery_photo_2 {
  background: url(images/bg/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#menu_gallery_photo_3 {
  background: url(images/bg/background4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#menu_gallery_photo_4 {
  background: url(images/bg/background5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

div.menu_gallery_info {
  background-color: var(--black-bg-color);
  width: 100%;
  min-height: 24.65%;
  display: flex;
  flex-direction: column;
}

div.menu_gallery_map {
  background-color: var(--black-bg-color);
  width: var(--menu-categories-width);
  height: 100%;
  float: right;
  overflow: hidden;
  pointer-events: none;
}

div.menu_gallery_map img {
  height: 100%;
}

button.menu_arrows_gallery {
  background-image: none;
  width: var(--menu-elements-width);
  float: left;
  justify-content: space-between;
  color: var(--text-color);
  padding-left: var(--item-padding-sides);
  /* padding-right: var(--item-padding-sides); */
  padding-right: 0.5vw;
}

button.menu_arrows_gallery .menu_arrows_zones {
  width: 4.5%;
  background-image: url(images/arrows_vertical.svg);
  background-repeat: no-repeat;
  background-origin: content-box;
  background-position: center;
  background-size: contain;
  transform: rotate(90deg);
}

/*#endregion MenuTabGallery*/

/*#region MenuTabStore*/
div.menu_store {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  /* display: none; */
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  display: none;
}

/*#endregion MenuTabOnline*/

/*#region MenuTabReplay*/
div.menu_replay {
  background-color: var(--black-bg-color);
  width: var(--menu-wnd-width);
  height: var(--menu-wnd-height);
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: space-between; */
  /* display: none; */
  white-space: nowrap;
  overflow: hidden;
  justify-content: space-between;
  /* display: none; */
  visibility: hidden;
}

/*#endregion MenuTabReplay*/

/*#region MenuTabSave*/
div#menu_save {
  background-color: transparent;
  width: var(--menu-wnd-width);
  height: fit-content;
  border: 0px;
  margin-bottom: 0px;
  display: flex;
  flex-direction: column;
  white-space: nowrap;
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  display: none;
}

div#menu_save .menu_elements {
  background-color: transparent;
}

div#menu_save .menu_elements .menu_entry:last-of-type {
  margin-bottom: 0;
}

/*#endregion MenuTabSave*/