:root {
  --screen-fade-in-time: 1000ms;
  --background-animation-time: 20000ms;

  --safezone-sides: 1.25vw;
  --safezone-top: 1vw;
}

body {
  background-color: black;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
}

/* #region Animations */

@keyframes fadeInScreenAnimation {
  0% {
    transform: translate(150vw, 0);
    opacity: 0;
  }

  100% {
    transform: translate(0, 0);
    opacity: 100%;
  }
}

@keyframes fadeInAnimationToLeft {
  0% {
    transform: translate(150vw, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeInAnimationToRight {
  0% {
    transform: translate(-150vw, 0);
  }

  100% {
    transform: translate(0, 0);
  }
}

@keyframes fadeOutAnimationLeft {
  0% {
    transform: translate(0vw, 0);
  }

  100% {
    transform: translate(-150vw, 0);
  }
}

@keyframes fadeOutAnimationRight {
  0% {
    transform: translate(0vw, 0);
  }

  100% {
    transform: translate(150vw, 0);
  }
}

@keyframes moveBackgroundAnimation {
  0% {
    transform: none;
  }

  100% {
    transform: rotateY(50deg);
  }
}

@keyframes moveForegroundAnimationRight {
  0% {
    /* transform: none; */
  }

  100% {
    transform: translate(10vw, 0);
  }
}

@keyframes moveForegroundAnimationLeft {
  0% {
    /* transform: none; */
  }

  100% {
    transform: translate(-10vw, 0);
  }
}

/* #endregion */

/* #region Loading Screen Textures */

div#loading_screen_0 .loading_screen_bg {
  background-image: url(loadingscreen0/background.png);
}

div#loading_screen_0 .loading_screen_fg {
  background-image: url(loadingscreen0/foreground.png);
  width: 25vw;
  height: 50vw;
}

div#loading_screen_1 .loading_screen_bg {
  background-image: url(loadingscreen1/background.png);
}

div#loading_screen_1 .loading_screen_fg {
  background-image: url(loadingscreen1/foreground_franklin.png);
  width: 30vw;
  height: 50vw;
  left: 20% !important;
}

div#loading_screen_1 .loading_screen_fg_2 {
  background-image: url(loadingscreen1/foreground.png);
  width: 45vw;
  height: 20vw;
}

div#loading_screen_2 .loading_screen_bg {
  background-image: url(loadingscreen2/background.png);
}

div#loading_screen_2 .loading_screen_fg {
  background-image: url(loadingscreen2/foreground_chop.png);
  width: 25vw;
  height: 40vw;
}

div#loading_screen_2 .loading_screen_fg_moving {
  animation-name: moveForegroundAnimationLeft !important;
}

div#loading_screen_2 .loading_screen_fg_2 {
  background-image: url(loadingscreen2/foreground.png);
  width: 28.5vw;
  height: 50vw;
  left: 40% !important;
}

div#loading_screen_3 .loading_screen_bg {
  background-image: url(loadingscreen3/background.png);
}

div#loading_screen_3 .loading_screen_fg {
  background-image: url(loadingscreen3/foreground.png);
  width: 35vw;
  height: 50vw;
}

div#loading_screen_3 .loading_screen_fg_2 {
  background-image: url(loadingscreen3/foreground_car.png);
  width: 50vw;
  height: 25vw;
  left: 70% !important;
}

div#loading_screen_4 .loading_screen_bg {
  background-image: url(loadingscreen4/background.png);
}

div#loading_screen_4 .loading_screen_fg {
  background-image: url(loadingscreen4/foreground.png);
  width: 20vw;
  height: 50vw;
}

div#loading_screen_5 .loading_screen_bg {
  background-image: url(loadingscreen5/background.png);
}

div#loading_screen_5 .loading_screen_fg {
  background-image: url(loadingscreen5/foreground.png);
  width: 30vw;
  height: 50vw;
}

div#loading_screen_6 .loading_screen_bg {
  background-image: url(loadingscreen6/background.png);
}

div#loading_screen_6 .loading_screen_fg {
  background-image: url(loadingscreen6/foreground.png);
  width: 30vw;
  height: 50vw;
}

div#loading_screen_7 .loading_screen_bg {
  background-image: url(loadingscreen7/background.png);
}

div#loading_screen_7 .loading_screen_fg {
  background-image: url(loadingscreen7/foreground.png);
  width: 25vw;
  height: 50vw;
}

div#loading_screen_8 .loading_screen_bg {
  background-image: url(loadingscreen8/background.png);
}

div#loading_screen_8 .loading_screen_fg {
  background-image: url(loadingscreen8/foreground.png);
  width: 50vw;
  height: 50vw;
}

div#loading_screen_9 .loading_screen_bg {
  background-image: url(loadingscreen9/background.png);
}

div#loading_screen_9 .loading_screen_fg {
  background-image: url(loadingscreen9/foreground.png);
  width: 25vw;
  height: 50vw;
  left: 20% !important;
}

div#loading_screen_10 .loading_screen_bg {
  background-image: url(loadingscreen10/background.png);
}

div#loading_screen_10 .loading_screen_fg {
  background-image: url(loadingscreen10/foreground.png);
  width: 25vw;
  height: 50vw;
  left: 20% !important;
}

div#loading_screen_11 .loading_screen_bg {
  background-image: url(loadingscreen11/background.png);
}

div#loading_screen_11 .loading_screen_fg {
  background-image: url(loadingscreen11/foreground.png);
  width: 25vw;
  height: 50vw;
  left: 30% !important;
}

div#loading_screen_12 .loading_screen_bg {
  background-image: url(loadingscreen12/background.png);
}

div#loading_screen_12 .loading_screen_fg {
  background-image: url(loadingscreen12/foreground_michael.png);
  width: 32.5vw;
  height: 50vw;
  left: 20% !important;
}

div#loading_screen_12 .loading_screen_fg_2 {
  background-image: url(loadingscreen12/foreground.png);
  width: 50vw;
  height: 25vw;
  left: 50% !important;
}

div#loading_screen_13 .loading_screen_bg {
  background-image: url(loadingscreen13/background.png);
}

div#loading_screen_13 .loading_screen_fg {
  background-image: url(loadingscreen13/foreground.png);
  width: 30vw;
  height: 50vw;
}

div#loading_screen_14 .loading_screen_bg {
  background-image: url(loadingscreen14/background.png);
}

div#loading_screen_14 .loading_screen_fg {
  background-image: url(loadingscreen14/foreground.png);
  width: 30vw;
  height: 50vw;
  left: 40% !important;
}

div#loading_screen_15 .loading_screen_bg {
  background-image: url(loadingscreen15/background.png);
}

div#loading_screen_15 .loading_screen_fg {
  background-image: url(loadingscreen15/foreground.png);
  width: 30vw;
  height: 50vw;
}

div#loading_screen_16 .loading_screen_bg {
  background-image: url(loadingscreen16/background.png);
}

div#loading_screen_16 .loading_screen_fg {
  background-image: url(loadingscreen16/foreground.png);
  width: 25vw;
  height: 50vw;
}

div#loading_screen_17 .loading_screen_bg {
  background-image: url(loadingscreen17/background.png);
}

div#loading_screen_17 .loading_screen_fg {
  background-image: url(loadingscreen17/foreground.png);
  width: 32.5vw;
  height: 50vw;
}

div#loading_screen_18 .loading_screen_bg {
  background-image: url(loadingscreen18/background.png);
}

div#loading_screen_18 .loading_screen_fg {
  background-image: url(loadingscreen18/foreground.png);
  width: 27.5vw;
  height: 50vw;
  left: 45% !important;
}

div#loading_screen_19 .loading_screen_bg {
  background-image: url(loadingscreen19/background.png);
}

div#loading_screen_19 .loading_screen_fg {
  background-image: url(loadingscreen19/foreground.png);
  width: 27.5vw;
  height: 50vw;
}

div#loading_screen_20 .loading_screen_bg {
  background-image: url(loadingscreen20/background.png);
}

div#loading_screen_20 .loading_screen_fg {
  background-image: url(loadingscreen20/foreground.png);
  width: 30vw;
  height: 50vw;
}

div#loading_screen_21 .loading_screen_bg {
  background-image: url(loadingscreen21/background.png);
}

div#loading_screen_21 .loading_screen_fg {
  background-image: url(loadingscreen21/foreground.png);
  width: 30vw;
  height: 50vw;
  left: 40% !important;
}

div#loading_screen_22 .loading_screen_bg {
  background-image: url(loadingscreen22/background.png);
}

div#loading_screen_22 .loading_screen_fg {
  background-image: url(loadingscreen22/foreground.png);
  width: 33.5vw;
  height: 50vw;
  left: 40% !important;
}

div#loading_screen_23 .loading_screen_bg {
  background-image: url(loadingscreen23/background.png);
}

div#loading_screen_23 .loading_screen_fg {
  background-image: url(loadingscreen23/foreground.png);
  width: 72.5vw;
  height: 50vw;
  left: 10% !important;
}

div#loading_screen_24 .loading_screen_bg {
  background-image: url(loadingscreen24/background.png);
}

div#loading_screen_24 .loading_screen_fg {
  background-image: url(loadingscreen24/foreground.png);
  width: 35vw;
  height: 50vw;
}

div#loading_screen_25 .loading_screen_bg {
  background-image: url(loadingscreen25/background.png);
}

div#loading_screen_25 .loading_screen_fg {
  background-image: url(loadingscreen25/foreground.png);
  width: 50vw;
  height: 50vw;
}

div#loading_screen_26 .loading_screen_bg {
  background-image: url(loadingscreen26/background.png);
}

div#loading_screen_26 .loading_screen_fg {
  background-image: url(loadingscreen26/foreground.png);
  width: 32.5vw;
  height: 50vw;
  left: 15% !important;
}

div#loading_screen_27 .loading_screen_bg {
  background-image: url(loadingscreen27/background.png);
}

div#loading_screen_27 .loading_screen_fg {
  background-image: url(loadingscreen27/foreground.png);
  width: 57.5vw;
  height: 50vw;
}

div#loading_screen_28 .loading_screen_bg {
  background-image: url(loadingscreen28/background.png);
}

div#loading_screen_28 .loading_screen_fg {
  background-image: url(loadingscreen28/foreground.png);
  width: 65vw;
  height: 50vw;
  left: 15% !important;
}

div#loading_screen_29 .loading_screen_bg {
  background-image: url(loadingscreen29/background.png);
}

div#loading_screen_29 .loading_screen_fg {
  background-image: url(loadingscreen29/foreground.png);
  width: 28.5vw;
  height: 50vw;
  left: 40% !important;
}

div#loading_screen_30 .loading_screen_bg {
  background-image: url(loadingscreen30/background.png);
}

div#loading_screen_30 .loading_screen_fg {
  background-image: url(loadingscreen30/foreground.png);
  width: 30vw;
  height: 50vw;
  left: 30% !important;
}

div#loading_screen_31 .loading_screen_bg {
  background-image: url(loadingscreen31/background.png);
}

div#loading_screen_31 .loading_screen_fg {
  background-image: url(loadingscreen31/foreground.png);
  width: 28.5vw;
  height: 50vw;
  left: 50% !important;
}

div#loading_screen_32 .loading_screen_bg {
  background-image: url(loadingscreen32/background.png);
}

div#loading_screen_32 .loading_screen_fg {
  background-image: url(loadingscreen32/foreground.png);
  width: 90vw;
  height: 50vw;
  left: 5% !important;
}

div#loading_screen_33 .loading_screen_bg {
  background-image: url(loadingscreen33/background.png);
}

div#loading_screen_33 .loading_screen_fg {
  background-image: url(loadingscreen33/foreground.png);
  width: 28.5vw;
  height: 50vw;
  left: 25% !important;
}

div#loading_screen_34 .loading_screen_bg {
  background-image: url(loadingscreen34/background.png);
}

div#loading_screen_34 .loading_screen_fg {
  background-image: url(loadingscreen34/foreground.png);
  width: 25vw;
  height: 50vw;
}

div#loading_screen_35 .loading_screen_bg {
  background-image: url(loadingscreen35/background.png);
}

div#loading_screen_35 .loading_screen_fg {
  background-image: url(loadingscreen35/foreground.png);
  width: 30vw;
  height: 50vw;
}

/* #endregion */

/* #region Loading Screen Page Layout */

div#loading_screen_logo {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: end;
  z-index: 100;
  position: absolute;
  margin: 0;
}

div#loading_screen_logo_container {
  width: 15vw;
  display: flex;
  justify-content: end;
  padding-left: var(--safezone-sides);
  padding-bottom: var(--safezone-top);
}

img#loading_screen_logo_img {
  width: 100%;
}

div#loading_screens_fullscreen {
  animation: var(--screen-fade-in-time) ease-out 0ms 1 normal none running fadeInScreenAnimation;
}

.loading_screen {
  display: flex;
  flex-direction: column;
  pointer-events: none;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.loading_screen_fading_in_left {
  animation: var(--screen-fade-in-time) ease-in-out 0ms 1 normal none running fadeInAnimationToLeft;
}

.loading_screen_fading_in_right {
  animation: var(--screen-fade-in-time) ease-in-out 0ms 1 normal none running fadeInAnimationToRight;
}

.loading_screen_fading_out_left {
  animation: var(--screen-fade-in-time) ease-in-out 0ms 1 normal none running fadeOutAnimationLeft;
}

.loading_screen_fading_out_right {
  animation: var(--screen-fade-in-time) ease-in-out 0ms 1 normal none running fadeOutAnimationRight;
}

.loading_screen_bg {
  background-color: beige;
  background-repeat: no-repeat;
  background-size: cover;
  width: 80%;
  height: 80%;
  align-self: center;
  justify-self: center;
  z-index: -1;
  margin: auto;
}

.loading_screen_bg_moving {
  animation: var(--background-animation-time) linear 0ms 1 normal none running moveBackgroundAnimation;
  animation-fill-mode: forwards;
}

.loading_screen_fg_area {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.loading_screen_fg {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 30%;
}

.loading_screen_fg_moving {
  animation: 25000ms linear 0ms 1 normal none running moveForegroundAnimationRight;
  animation-fill-mode: forwards;
}

.loading_screen_fg_2 {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  z-index: 5;
  position: absolute;
  bottom: 0;
  left: 50%;
}

.loading_screen_fg_2_moving {
  animation: 25000ms linear 0ms 1 normal none running moveForegroundAnimationLeft;
  animation-fill-mode: forwards;
}

/* #endregion */